<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .card-zoom {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .card-zoom:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body class="bg-blue-100">

<div class="container mx-auto p-4">
    <h1 class="text-center my-4 text-4xl font-bold text-blue-600">POKEMON PAGE</h1>
    
    <div class="mb-4 flex justify-center">
        <form method="POST" action="/" class="flex">
            <input type="text" class="form-input w-80 rounded-l-lg px-4" name="search_term" placeholder="Search fOR POKEMON">
            <button type="submit" class="btn bg-blue-500 hover:bg-blue-600 text-white rounded-r-lg px-4">Search</button>
        </form>
    </div>
    
    <div class="mb-4 flex justify-center gap-4">
        <a href="/new" class="btn bg-green-500 hover:bg-green-600 text-white px-8 py-2 rounded-lg">Add Pokémon</a>
    
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        
        {% for pokemon in details %}
        <div class="bg-white rounded-lg shadow-lg p-4 card-zoom">
            <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}" class="w-full h-96 object-cover rounded-md mb-4">
            <h2 class="text-lg font-semibold text-blue-600">{{ pokemon.name }}</h2>
            <div class="flex justify-between">
                <p class="text-gray-700">ID: {{ pokemon.id }}</p>
                <p class="text-gray-700">Description: {{ pokemon.description }}</p>
            </div>
            <div class="flex justify-between">
                <p class="text-gray-700">Height: {{ pokemon.height }}</p>
                <p class="text-gray-700">Weight: {{ pokemon.weight }}</p>
            </div>
            <div class="flex justify-between">
                <p class="text-gray-700">Category: {{ pokemon.category }}</p>
                <p class="text-gray-700">Abilities: {{ pokemon.abilities }}</p>
            </div>
            <div class="mt-4 flex justify-center">
                <form method="post" action="/delete/{{ pokemon.id }}">
                    <button type="submit" class="btn bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg">Delete</button>
                </form>
                <a href="/update/{{ pokemon.id }}" class="btn bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg ml-2">Update</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
